@charset "utf-8";
// 顶部广告
.promotional-top {
    height: 80px;
    display: block;
    .jd_container {
        height: 100%;
        position: relative;
        width: 1190px;
        margin: 0 auto;
    }
    .JD_close-button--square {
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        background: #2d2d2d;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        opacity: .3;
        filter: alpha(opacity=30);
    }
}
.promotional-tag__618--rectangle {
    width: 190px;
    height: 80px;
}
.promotional-tag__618 {
    background-repeat: no-repeat;
    background-size: contain;
}